body, p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}

header {
    padding: 20px;
    background-image: url(/images/Vacation-Free-Download-PNG.png);
    background-position: 160px;
    background-size: 90px;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    border: solid blue 3px;
    border-radius: 10px;
}

nav ul li {
    list-style-type: none;
    padding: 0px 5px;
    text-decoration: none;
}

nav ul li a:visited {
    color: yellow;
    text-decoration: none;

}

nav ul li a:active {
    color: lightblue;
}

nav ul li a:hover {
    color: green;
}

body h1 {
    padding-left: 15px;
    margin-bottom: 9px;
}

body h2 {
    padding: 20px;
}

body {
    background-color: black;
    color: white;
}
/* ------------First Image----------- */
.firstImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.firstImage img {
    max-width: 80vw;
    max-height: 80vh;
}

.firstImage h2 {
    padding: 20px;
    text-align: center;
}

/* ------------Second Image----------- */

.secondImage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secondImage img {
    max-width: 80vw;
    max-height: 80vh;
}

.secondImage h2 {
    padding: 20px;
    text-align: center;
}

/* ------------Third Image----------- */

.thirdImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.thirdImage img {
    max-width: 80vw;
    max-height: 80vh;
}

.thirdImage h2 {
    padding: 20px;
    text-align: center;
    align-self: center;
    padding-left: 7vw;
}

/* ------------Destinations----------- */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery figure img {
    width: 300px;
    height: 200px;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gallery figcaption a:visited {
    color: red;
}

.gallery figure a:hover {
    color: green;
}

.gallery figcaption {
    color: yellow;
}


/* ------------Bookings----------- */
.spainPackage h1 {
    color: orange;
}

.spainPackage h2 {
    color: yellow;
}

.spainPackage h3 {
    color: coral;
}

.spainPackage .price1 {
    padding-top: 45px;
    text-align: center;
    color: green;
    font-size: 2rem;
}

.spainPackage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.spainPackage img {
    width: 60vw;
    height: 60vh;
}

.package1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.package1Img {
    display: flex;
    justify-content: flex-end;
}

.thailandPackage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.thailandPackage img {
    width: 60vw;
    height: 60vh;
}

.package2Img {
    display: flex;
    justify-content: flex-end;
}

.package2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.thailandPackage h1 {
    color: orange;
}

.thailandPackage h2 {
    color: yellow;
}

.thailandPackage h3 {
    color: coral;
}

.thailandPackage .price2 {
    padding-top: 45px;
    text-align: center;
    color: green;
    font-size: 2rem;
}

.chinaPackage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.package3Img {
    display: flex;
    justify-content: flex-end;
}

.package3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chinaPackage img {
    width: 60vw;
    height: 60vh;
}

.thailandPackage h1 {
    color: orange;
}

.chinaPackage h2 {
    color: yellow;
}

.chinaPackage h3 {
    color: coral;
}

.chinaPackage .price3 {
    padding-top: 45px;
    text-align: center;
    color: green;
    font-size: 2rem;
}

/* ------------Maps----------- */

.maps {
    width: 90vw;
    height: 80vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border: none;
    margin-bottom: 20px;
}

.wyattvid {
    width: 90vw;
    height: 80vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border: none;
}


/* ------------Footer----------- */


footer {
    text-align: center;
    padding: 30px;
}